<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%load static%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">
    <title></title>
</head>
<body>
     <nav>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="/">Home</a></li>
            <li class="page-item active"><a class="page-link" href="/about">About</a></li>
            <li class="page-item"><a class="page-link" href="/portfolio">Portfolio</a></li>
            <li class="page-item"><a class="page-link" href="/interesting_finds">Interesting Finds</a></li>
            <li class="page-item"><a class="page-link" href="/survey_page">Contact Me</a></li>
        </ul>
    </nav>
    <div class="row">
        <img class="col-6" style="height:800px" src="https://scontent.fboi1-1.fna.fbcdn.net/v/t1.0-9/27867168_1075502502589610_2478117811840974824_n.jpg?_nc_cat=105&_nc_sid=d4cf07&_nc_ohc=bXE64cIVOyoAX8NVXqV&_nc_ht=scontent.fboi1-1.fna&oh=ccb9f7e34091aaa672e47f6cd5d9ffc8&oe=5F21C7F5" alt="me and my family">
        <p class="col-6" style="font-size:x-large;color:blue;text-align:center; align-self:center">My family and I live in the Treasure Valley. I have lived here my entire life. It's a great place to raise a family. My passion derives from wanting to help people, and learning how things tick. I've graduated from Coding Dojo, with full-stack development training for Python, C#, and React.</p>
    </div>
</body>
</html>