<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%load static%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" type="text/css">
    <title></title>
</head>
<body>
    <nav>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="/">Home</a></li>
            <li class="page-item"><a class="page-link" href="/about">About</a></li>
            <li class="page-item active"><a class="page-link" href="/portfolio">Portfolio</a></li>
            <li class="page-item"><a class="page-link" href="/interesting_finds">Interesting Finds</a></li>
            <li class="page-item"><a class="page-link" href="/survey_page">Contact Me</a></li>
        </ul>
    </nav>
    <h1>My Work So Far</h1>
    <div class="container">
        <div id="JOKEQUOTEVOTE" class="projects">
            <h2>Joke Quote Vote</h2>
            <p class="jqv">First Project made, was for a Python project in school. Wasn't quite sure what to make, but i love movies</p>
        </div>
        <div id="SWAPI" class="projects">
            <h2>Summoners War API</h2>
            <p class="swapi">Mobile game API, based on already popular API, was for a C# project for school</p>
        </div>
    </div>
</body>
</html>